# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
exercises/color-picker/colorpicker/node_modules
exercises/search/searchapp/node_modules


exercises/color-picker/colorpicker/.pnp
exercises/searchapp/colorpicker/.pnp
exercises/color-picker/colorpicker.pnp.js
exercises/searchapp/colorpicker.pnp.js

# testing
exercises/color-picker/colorpicker/coverage
exercises/searchapp/colorpicker/coverage

# production
exercises/color-picker/colorpicker/build
exercises/searchapp/colorpicker/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

